NET LEDs(7) LOC = "P100" |IOSTANDARD=LVCMOS25;
NET LEDs(6) LOC = "P79" |IOSTANDARD=LVCMOS25;
NET LEDs(5) LOC = "P59" |IOSTANDARD=LVCMOS25;
NET LEDs(4) LOC = "P47" |IOSTANDARD=LVCMOS25;
NET LEDs(3) LOC = "P134" |IOSTANDARD=LVCMOS25;
NET LEDs(2) LOC = "P131" |IOSTANDARD=LVCMOS25;
NET LEDs(1) LOC = "P121" |IOSTANDARD=LVCMOS25;
NET LEDs(0) LOC = "P114" |IOSTANDARD=LVCMOS25;

NET "clk" LOC="P94" | IOSTANDARD=LVCMOS25 | PERIOD=31.25ns;
