NET X(7) LOC = "P100" |IOSTANDARD=LVCMOS25;
NET X(6) LOC = "P79" |IOSTANDARD=LVCMOS25;
NET X(5) LOC = "P61" |IOSTANDARD=LVCMOS25;
NET X(4) LOC = "P48" |IOSTANDARD=LVCMOS25;
NET X(3) LOC = "P134" |IOSTANDARD=LVCMOS25;
NET X(2) LOC = "P131" |IOSTANDARD=LVCMOS25;
NET X(1) LOC = "P121" |IOSTANDARD=LVCMOS25;
NET X(0) LOC = "P114" |IOSTANDARD=LVCMOS25;

NET Y(15) LOC = "P99" |IOSTANDARD=LVCMOS25;
NET Y(14) LOC = "P97" |IOSTANDARD=LVCMOS25;
NET Y(13) LOC = "P92" |IOSTANDARD=LVCMOS25;
NET Y(12) LOC = "P87" |IOSTANDARD=LVCMOS25;
NET Y(11) LOC = "P84" |IOSTANDARD=LVCMOS25;
NET Y(10) LOC = "P82" |IOSTANDARD=LVCMOS25;
NET Y(9) LOC = "P80" |IOSTANDARD=LVCMOS25;
NET Y(8) LOC = "P78" |IOSTANDARD=LVCMOS25;
NET Y(7) LOC = "P74" |IOSTANDARD=LVCMOS25;
NET Y(6) LOC = "P95" |IOSTANDARD=LVCMOS25;
NET Y(5) LOC = "P62" |IOSTANDARD=LVCMOS25;
NET Y(4) LOC = "P59" |IOSTANDARD=LVCMOS25;
NET Y(3) LOC = "P57" |IOSTANDARD=LVCMOS25;
NET Y(2) LOC = "P55" |IOSTANDARD=LVCMOS25;
NET Y(1) LOC = "P50" |IOSTANDARD=LVCMOS25;
NET Y(0) LOC = "P47" |IOSTANDARD=LVCMOS25;

NET "clk" LOC="P94" | IOSTANDARD=LVCMOS25 | PERIOD=31.25ns;