NET LEDs(7) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(6) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(5) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(4) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(3) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(2) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(1) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(0) LOC = "P5" | IOSTANDARD=LVTTL;

NET switches(7) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(6) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(5) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(4) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(3) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(2) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(1) LOC = "P5" | IOSTANDARD=LVTTL;
NET switches(0) LOC = "P5" | IOSTANDARD=LVTTL;